
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        Input your average mark
        <input type="number" v-model="averageMark">
        <div v-if="averageMark>=9" style="color: green">Bravo!!!</div>
        <div v-else-if="averageMark<5" style="color: red">Esti restantier</div>
        <div v-else>Destul de bine</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>